<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.CoursePlatform.mapper.KnowledgeEdgeMapper">

    <select id="selectByCourse" resultType="com.neu.CoursePlatform.entity.KnowledgeEdge">
        SELECT * FROM knowledge_edge
        WHERE course_code = #{courseCode}
        ORDER BY edge_id
    </select>
</mapper>
