<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.CoursePlatform.mapper.LearningTaskMapper">

    <select id="selectByCourseCode" resultType="com.neu.CoursePlatform.entity.LearningTask">
        SELECT * FROM learning_task WHERE course_code = #{courseCode}
    </select>

    <select id="selectByKeyword" resultType="com.neu.CoursePlatform.entity.LearningTask">
        SELECT * FROM learning_task
        WHERE task_type LIKE '%' || #{keyword} || '%'
           OR description LIKE '%' || #{keyword} || '%'
    </select>

    <select id="selectFiltered" resultType="com.neu.CoursePlatform.entity.LearningTask">
        SELECT * FROM learning_task
        <where>
            <if test="courseCode != null and courseCode != ''">
                AND course_code = #{courseCode}
            </if>
            <if test="taskType != null and taskType != ''">
                AND task_type = #{taskType}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="lessonNo != null and lessonNo != ''">
                AND lesson_no = #{lessonNo}
            </if>
        </where>
        ORDER BY task_no DESC
    </select>

</mapper>
