<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.CoursePlatform.mapper.LessonMapper">

    <select id="selectByCourseCode" resultType="com.neu.CoursePlatform.entity.Lesson">
        SELECT * FROM lesson WHERE course_code = #{courseCode}
    </select>

    <select id="selectByKeyword" resultType="com.neu.CoursePlatform.entity.Lesson">
        SELECT * FROM lesson
        WHERE lesson_title LIKE CONCAT('%', #{keyword}, '%')
           OR description LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
