<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.CoursePlatform.mapper.SubmissionAnswerMapper">

    <select id="selectBySubmissionId" resultType="com.neu.CoursePlatform.entity.SubmissionAnswer">
        SELECT * FROM submission_answer WHERE submission_id = #{submissionId}
    </select>

    <select id="selectByStudentNo" resultType="com.neu.CoursePlatform.entity.SubmissionAnswer">
        SELECT * FROM submission_answer
        <where>
            student_no = #{studentNo}
            <if test="taskNo != null and taskNo != ''">
                AND task_no = #{taskNo}
            </if>
            <if test="knowledgePointId != null and knowledgePointId != ''">
                AND knowledge_point_id = #{knowledgePointId}
            </if>
            <if test="type != null and type != ''">
                AND question_type = #{type}
            </if>
        </where>
    </select>

    <select id="selectWrongByStudentNo" resultType="com.neu.CoursePlatform.entity.SubmissionAnswer">
        SELECT * FROM submission_answer
        WHERE student_no = #{studentNo}
          AND correct = 0
    </select>

    <select id="selectByTaskNo" resultType="com.neu.CoursePlatform.entity.SubmissionAnswer">
        SELECT * FROM submission_answer WHERE task_no = #{taskNo}
    </select>

</mapper>
