<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.CoursePlatform.mapper.KnowledgePointMapper">
    <select id="selectByCourse" resultType="com.neu.CoursePlatform.entity.KnowledgePoint">
        SELECT * FROM knowledge_point <where> course_code = #{courseCode}
        <if test="lessonNo != null and lessonNo != ''"> AND lesson_no = #{lessonNo}</if>
        <if test="keyword != null and keyword != ''"> AND (name LIKE '%' || #{keyword} || '%' OR description LIKE '%' || #{keyword} || '%')</if>
        </where> ORDER BY lesson_no IS NULL, lesson_no, knowledge_point_id
    </select>
</mapper>
